* {
  margin: 0;
  padding: 0;
}

table {
  width: 80%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
}

tr:hover {
  background-color: blue;
}

#mapid {
  margin-top: 50px;
  margin: 50px auto;
}
